body {
  text-align: center;
  background-color: #2b2b2c;
  padding: 40px;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-wrapper {
  background-color: white;
  width: 400px;
  border-radius: 16px;
}
.row {
  display: flex;
}
